@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap');

*{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* button {
    display: inline-block;
  }
span {
    display: inline-block;
    margin: 10px 10px;
  }
button
{
    margin: 10px 10px;
} */
.navbar
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
    align-items: center;
    margin: 0px 10px;
}

.logo{
    order: 3;
 
}

.links{
order: 1;
display: flex;
justify-content: space-evenly;
flex-basis: 700px;
flex-grow: 1;
}

.actions{
display: flex;
    order: 2;

    flex-basis: 100px;
justify-content: space-between;

}

.banner{

    background-image: url("https://blogs.programmingpathshala.com/_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Fbanner-image-url%2FBlog%2520Thumbnail-21.jpg&w=1200&q=50");
    height: 340px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.heading{
    color: rgb(8, 8, 8);
    font-size: 48px;
    margin: 5px;
    padding: 10px;
    font-weight: 900;
    /* text-shadow: 10px 5px 0 black; */
    word-spacing: 10px;
    border: 5px solid red;
    height: 300px;
    /* letter-spacing: 10px; */
}

.about{

    color: rgb(88, 85, 85);
    font-weight: 400;
    font-size: 16px;
}

.event_heading{

    font-size: 42px;
    font-weight: 700;

}

.blue_small_heading{
    color: blue;
    font-size: 18px;
}

.detail_heading{
    font-size: 32px;
    font-weight: 600px;
}

.explore_courses{

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
    margin:10px 10px;
    text-align: center;
}

.lld{
    display: block;
}
